.DS_Store
.project
.children
*.bat
*.dart.js
*.dart.js_
*.dart.js.deps
*.dart.js.map
part.js
part.js.deps
part.js.map
packages
packages/
pubspec.lock
!build/src/packages
!build/src/app.dart.js
!build/src/app.dart.js_
!build/src/app.dart.js.deps
!build/src/app.dart.js.map
