html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

p {
  color: #333;
}

.header-content {
  font-size: 14px;
  font-weight: bold;
  vertical-align: middle;
}

.copyright {
  vertical-align: middle;
  text-align: right;
  padding-right: 5px;
}
  
.topPanel {
  background-color : #6293DD;
  border-bottom: 1px solid #ddd;
  box-shadow: 5px;
  color: #fff;
  padding: 5px;
  text-shadow: #000 0 1px;
}

.statusPanel {
  color: #4271C9;
  font-size: 12px;
  vertical-align: middle;
  text-align: right;
}

h2 {
  text-rendering: optimizeLegibility;
  text-shadow: rgba(255,255,255,0.8) 0 1px 1px;
}

.emptyPreviewPanel{
  vertical-align: middle; 
  text-align: center;
}

.titlePreviewPanel {
  background-color : #6293DD;
  border-bottom: 1px solid #ddd;
  box-shadow: 5px;
  color: #fff;
  padding: 5px;
  font-weight: bold;
  /*text-shadow: #000 0 1px;*/
}

.descPreviewPanel {
  /*background-color : #6293DD;*/
  /*border-bottom: 1px solid #ddd;*/
  box-shadow: 5px;
  color: black; /*#6293DD;*/
  padding: 5px;
}

.previewPreviewPanel{
  margin: 5px;
  border-style: dotted;
  border-color: lightgray;
  border-width: 1px;
}

.sourceCodeLabel {
  background-color : #6293DD;
  border-bottom: 1px solid #ddd;
  box-shadow: 5px;
  color: #fff;
  padding: 3px;
}

/**********************************************************************************
*             Popup Demo
**********************************************************************************/
.demo-popup, .demo-Composite
{
  background-color      : #ffc;
  border            : 3px solid #009;
}
.demo-Composite
{
  margin            : 0 auto;
}
.demo-popup-header, .demo-Composite-header
{
  background-color      : #ff0;
  font-size         : 90%;
  font-weight         : bold;
  border-bottom       : 3px solid #009;
  padding           : 5px;
  text-align          : center;
}
.demo-popup-message, .demo-Composite-data
{
  font-size         : 80%;
  padding           : 15px;
}
.demo-popup-footer
{
  padding           : 5px;
  text-align          : center;
  width           : 100%;
}

/**********************/
.cw-DockPanel td {
  border: 1px solid #BBBBBB;
  padding: 3px;
}

.demo-panel
{
  margin            : 15px auto;
  background-color  : #ddd;
  border            : 5px solid #999;
}

.demo-panel-borderless
{
  margin            : 15px auto;
  background-color      : #ddd;
}

.demo-label
{
  margin            : 0 auto;
  background-color      : #ff0;
  text-align          : center;
  border            : 1px solid #009;
}
.demo-label-over
{
  background-color      : #00f;
  color           : #ff0;
}

/*******/
.cw-FlexTable td {
  border: 1px solid #BBBBBB;
  padding: 3px;
}

.table-center
{
  margin-left         : auto;
  margin-right        : auto;
}