body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

p {
  color: #333;
}

.topPanel {
  background-color : #6293DD;
  border-bottom: 1px solid #ddd;
  box-shadow: 5px;
  color: #fff;
  padding: 5px;
  text-shadow: #000 0 1px;
}

.statusPanel {
  color: #4271C9;
  font-size: 12px;
}