html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

p {
  color: #333;
}

.topPanel {
  background-color : #6293DD;
  border-bottom: 1px solid #ddd;
  box-shadow: 5px;
  color: #fff;
  padding: 5px;
  text-shadow: #000 0 1px;
}

.statusPanel {
  color: #4271C9;
  font-size: 12px;
}

h2 {
  text-rendering: optimizeLegibility;
  text-shadow: rgba(255,255,255,0.8) 0 1px 1px;
}
/** Home page **/
.homeTitle {
  /*font-size: 24px;*/
}

/*

html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,img {
  border: 0;
}

address,caption,cite,code,dfn,em,strong,th,var {
  font-style: normal;
  font-weight: normal;
}

li {
  list-style: none;
}

caption,th {
  text-align: left;
}

h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
}

q:before,q:after {
  content: "";
}

abbr,acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,textarea,select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

*:focus {
  outline: none;
}

.x-border-box,.x-border-box * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.x-body {
  color: black;
  font-size: 12px;
  font-family: Helvetica Neue,Arial,sans-serif;
}

.x-rtl {
  direction: rtl;
}

.x-ltr {
  direction: ltr;
}

.x-clear {
  overflow: hidden;
  clear: both;
  font-size: 0;
  line-height: 0;
  display: table;
}

.x-strict .x-ie7 .x-clear {
  height: 0;
  width: 0;
}

.x-layer {
  position: absolute!important;
  overflow: hidden;
  zoom: 1;
}

.x-shim {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

.x-hide-display {
  display: none!important;
}

.x-hide-visibility {
  visibility: hidden!important;
}

.x-item-disabled .x-form-item-label,.x-item-disabled .x-form-field,.x-item-disabled .x-form-cb-label {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: .3;
}

.x-ie6 .x-item-disabled {
  filter: none;
}

.x-hidden,.x-hide-offsets {
  display: block!important;
  visibility: hidden!important;
  position: absolute!important;
  left: -10000px!important;
  top: -10000px!important;
}

.x-hide-nosize {
  height: 0!important;
  width: 0!important;
}

.x-masked-relative {
  position: relative;
}

.x-ie6 .x-masked select,.x-ie6.x-body-masked select {
  visibility: hidden!important;
}

.x-css-shadow {
  position: absolute;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px 5px;
  -ms-border-radius: 5px 5px;
  -o-border-radius: 5px 5px;
  border-radius: 5px 5px;
}

.x-ie-shadow {
  background-color: #777;
  display: none;
  position: absolute;
  overflow: hidden;
  zoom: 1;
}

.x-box-tl {
  background: transparent no-repeat 0 0;
  zoom: 1;
}

.x-box-tc {
  height: 8px;
  background: transparent repeat-x 0 0;
  overflow: hidden;
}

.x-box-tr {
  background: transparent no-repeat right -8px;
}

.x-box-ml {
  background: transparent repeat-y 0;
  padding-left: 4px;
  overflow: hidden;
  zoom: 1;
}

.x-box-mc {
  background: repeat-x 0 -16px;
  padding: 4px 10px;
}

.x-box-mc h3 {
  margin: 0 0 4px 0;
  zoom: 1;
}

.x-box-mr {
  background: transparent repeat-y right;
  padding-right: 4px;
  overflow: hidden;
}

.x-box-bl {
  background: transparent no-repeat 0 -16px;
  zoom: 1;
}

.x-box-bc {
  background: transparent repeat-x 0 -8px;
  height: 8px;
  overflow: hidden;
}

.x-box-br {
  background: transparent no-repeat right -24px;
}

.x-box-tl,.x-box-bl {
  padding-left: 8px;
  overflow: hidden;
}

.x-box-tr,.x-box-br {
  padding-right: 8px;
  overflow: hidden;
}

.x-box-tl {
  background-image: url('../../extjs/resources/themes/images/default/box/corners.gif');
}

.x-box-tc {
  background-image: url('../../extjs/resources/themes/images/default/box/tb.gif');
}

.x-box-tr {
  background-image: url('../../extjs/resources/themes/images/default/box/corners.gif');
}

.x-box-ml {
  background-image: url('../../extjs/resources/themes/images/default/box/l.gif');
}

.x-box-mc {
  background-color: #eee;
  background-image: url('../../extjs/resources/themes/images/default/box/tb.gif');
  font-family: "Myriad Pro","Myriad Web","Tahoma","Helvetica","Arial",sans-serif;
  color: #393939;
  font-size: 15px;
}

.x-box-mc h3 {
  font-size: 18px;
  font-weight: bold;
}

.x-box-mr {
  background-image: url('../../extjs/resources/themes/images/default/box/r.gif');
}

.x-box-bl {
  background-image: url('../../extjs/resources/themes/images/default/box/corners.gif');
}

.x-box-bc {
  background-image: url('../../extjs/resources/themes/images/default/box/tb.gif');
}

.x-box-br {
  background-image: url('../../extjs/resources/themes/images/default/box/corners.gif');
}

.x-box-blue .x-box-bl,.x-box-blue .x-box-br,.x-box-blue .x-box-tl,.x-box-blue .x-box-tr {
  background-image: url('../../extjs/resources/themes/images/default/box/corners-blue.gif');
}

.x-box-blue .x-box-bc,.x-box-blue .x-box-mc,.x-box-blue .x-box-tc {
  background-image: url('../../extjs/resources/themes/images/default/box/tb-blue.gif');
}

.x-box-blue .x-box-mc {
  background-color: #c3daf9;
}

.x-box-blue .x-box-mc h3 {
  color: #17385b;
}

.x-box-blue .x-box-ml {
  background-image: url('../../extjs/resources/themes/images/default/box/l-blue.gif');
}

.x-box-blue .x-box-mr {
  background-image: url('../../extjs/resources/themes/images/default/box/r-blue.gif');
}

.x-container {
  zoom: 1;
}

.x-container:before {
  content: "";
  clear: both;
  display: table;
}

table.x-container:before,tbody.x-container:before,tr.x-container:before {
  display: none;
}

.x-focus-element {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 0;
  height: 0;
}

.x-focus-frame {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100000000;
  width: 0;
  height: 0;
}

.x-focus-frame-top,.x-focus-frame-bottom,.x-focus-frame-left,.x-focus-frame-right {
  position: absolute;
  top: 0;
  left: 0;
}

.x-focus-frame-top,.x-focus-frame-bottom {
  border-top: solid 2px #15428b;
  height: 2px;
}

.x-focus-frame-left,.x-focus-frame-right {
  border-left: solid 2px #15428b;
  width: 2px;
}

.x-mask {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: .5;
  width: 100%;
  height: 100%;
  zoom: 1;
  background: #ccc;
}

.x-mask-msg {
  z-index: 20001;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px;
  border: 1px solid;
  border-color: #bfbfbf;
  background-image: none;
  background-color: #fdfdfd;
}

.x-mask-msg div {
  padding: 5px 10px 5px 25px;
  background-image: url('../../extjs/resources/themes/images/default/grid/loading.gif');
  background-repeat: no-repeat;
  background-position: 5px center;
  cursor: wait;
  border: 1px solid #d0d0d0;
  background-color: #eee;
  color: #222;
  font: normal 11px Helvetica Neue,Arial,sans-serif;
}

.x-boundlist {
  border-width: 1px;
  border-style: solid;
  border-color: #e2cfcf;
  background: white;
}

.x-boundlist .x-toolbar {
  border-width: 1px 0 0 0;
}

.x-strict .x-ie6 .x-boundlist-list-ct,.x-strict .x-ie7 .x-boundlist-list-ct {
  position: relative;
}

.x-boundlist-item {
  padding: 2px;
  user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  cursor: default;
  cursor: pointer;
  cursor: hand;
  position: relative;
  border-width: 1px;
  border-style: dotted;
  border-color: white;
}

.x-boundlist-selected {
  background: #f0f0f0;
  border-color: #cfc9c9;
}

.x-boundlist-item-over {
  background: #fdfdfd;
  border-color: #dbd7d6;
}

.x-boundlist-floating {
  border-top-width: 0;
}

.x-boundlist-above {
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.x-btn {
  display: inline-block;
  zoom: 1;
  *display: inline;
  position: relative;
  cursor: pointer;
  cursor: hand;
  white-space: nowrap;
  vertical-align: middle;
  background-repeat: no-repeat;
}

.x-btn * {
  cursor: pointer;
  cursor: hand;
}

.x-btn em {
  background-repeat: no-repeat;
}

.x-btn em a {
  text-decoration: none;
  display: block;
  color: inherit;
  width: 100%;
  zoom: 1;
}

.x-btn button {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  outline: 0 none;
  overflow: hidden;
  vertical-align: bottom;
  -webkit-appearance: none;
}

.x-btn button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.x-btn .x-btn-inner {
  display: block;
  white-space: nowrap;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: left center;
  overflow: hidden;
}

.x-btn .x-btn-left .x-btn-inner {
  text-align: left;
}

.x-btn .x-btn-center .x-btn-inner {
  text-align: center;
}

.x-btn .x-btn-right .x-btn-inner {
  text-align: right;
}

.x-btn-disabled span {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: .5;
}

.x-ie6 .x-btn-disabled span,.x-ie7 .x-btn-disabled span {
  filter: none;
}

.x-ie7 .x-btn-disabled,.x-ie8 .x-btn-disabled {
  filter: none;
}

.x-ie6 .x-btn-disabled .x-btn-icon,.x-ie7 .x-btn-disabled .x-btn-icon,.x-ie8 .x-btn-disabled .x-btn-icon {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: .6;
}

.x-ie9 .x-btn button {
  overflow: visible!important;
}

* html .x-ie .x-btn button {
  width: 1px;
}

.x-ie .x-btn button {
  overflow-x: visible;
  vertical-align: baseline;
}

.x-strict .x-ie6 .x-btn .x-frame-mc,.x-strict .x-ie7 .x-btn .x-frame-mc {
  height: 100%;
}

.x-btn .x-frame-mc {
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
}

.x-btn-noicon .x-frame-mc {
  text-align: center;
}

.x-btn-icon-text-left .x-btn-icon {
  background-position: left center;
}

.x-btn-icon-text-right .x-btn-icon {
  background-position: right center;
}

.x-btn-icon-text-top .x-btn-icon {
  background-position: center top;
}

.x-btn-icon-text-bottom .x-btn-icon {
  background-position: center bottom;
}

.x-btn button,.x-btn a {
  position: relative;
}

.x-btn button .x-btn-icon,.x-btn a .x-btn-icon {
  position: absolute;
  background-repeat: no-repeat;
}

.x-btn-arrow-right {
  background: transparent no-repeat right center;
  padding-right: 12px;
}

.x-btn-arrow-right .x-btn-inner {
  padding-right: 0!important;
}

.x-toolbar .x-btn-arrow-right {
  padding-right: 12px;
}

.x-btn-arrow-bottom {
  background: transparent no-repeat center bottom;
  padding-bottom: 12px;
}

.x-btn-arrow {
  background-image: url('../../extjs/resources/themes/images/default/button/arrow.gif');
  display: block;
}

.x-btn-split-right,.x-btn-over .x-btn-split-right {
  background: transparent no-repeat right center;
  background-image: url('../../extjs/resources/themes/images/default/button/s-arrow.gif');
  padding-right: 14px!important;
}

.x-btn-split-bottom,.x-btn-over .x-btn-split-bottom {
  background: transparent no-repeat center bottom;
  background-image: url('../../extjs/resources/themes/images/default/button/s-arrow-b.gif');
  padding-bottom: 14px;
}

.x-toolbar .x-btn-split-right {
  background-image: url('../../extjs/resources/themes/images/default/button/s-arrow-noline.gif');
  padding-right: 12px!important;
}

.x-toolbar .x-btn-split-bottom {
  background-image: url('../../extjs/resources/themes/images/default/button/s-arrow-b-noline.gif');
}

.x-btn-split {
  display: block;
}

.x-item-disabled,.x-item-disabled * {
  cursor: default;
}

.x-cycle-fixed-width .x-btn-inner {
  text-align: inherit;
}

.x-btn-over .x-btn-split-right {
  background-image: url('../../extjs/resources/themes/images/default/button/s-arrow-o.gif');
}

.x-btn-over .x-btn-split-bottom {
  background-image: url('../../extjs/resources/themes/images/default/button/s-arrow-bo.gif');
}

.x-btn-default-small {
  border-color: #d1d1d1;
}

.x-btn-default-small {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 2px 2px 2px 2px;
  border-width: 1px;
  border-style: solid;
  background-image: none;
  background-color: white;
  background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fff),color-stop(48%,#f9f9f9),color-stop(52%,#e2e2e2),color-stop(100%,#e7e7e7));
  background-image: -webkit-linear-gradient(top,#fff,#f9f9f9 48%,#e2e2e2 52%,#e7e7e7);
  background-image: -moz-linear-gradient(top,#fff,#f9f9f9 48%,#e2e2e2 52%,#e7e7e7);
  background-image: -o-linear-gradient(top,#fff,#f9f9f9 48%,#e2e2e2 52%,#e7e7e7);
  background-image: -ms-linear-gradient(top,#fff,#f9f9f9 48%,#e2e2e2 52%,#e7e7e7);
  background-image: linear-gradient(top,#fff,#f9f9f9 48%,#e2e2e2 52%,#e7e7e7);
}

.x-nlg .x-btn-default-small-mc {
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-small-bg.gif');
  background-color: white;
}

.x-nbr .x-btn-default-small {
  padding: 0!important;
  border-width: 0!important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background-color: transparent;
  background-position: 1100303px 1000303px;
}

.x-nbr .x-btn-default-small-tl,.x-nbr .x-btn-default-small-bl,.x-nbr .x-btn-default-small-tr,.x-nbr .x-btn-default-small-br,.x-nbr .x-btn-default-small-tc,.x-nbr .x-btn-default-small-bc,.x-nbr .x-btn-default-small-ml,.x-nbr .x-btn-default-small-mr {
  zoom: 1;
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-small-corners.gif');
}

.x-nbr .x-btn-default-small-ml,.x-nbr .x-btn-default-small-mr {
  zoom: 1;
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-small-sides.gif');
  background-position: 0 0;
}

.x-nbr .x-btn-default-small-mc {
  padding: 0;
}

.x-strict .x-ie7 .x-btn-default-small-tl,.x-strict .x-ie7 .x-btn-default-small-bl {
  position: relative;
  right: 0;
}

.x-btn-default-small .x-btn-inner {
  font-size: 11px;
  font-weight: normal;
  font-family: Helvetica Neue,Arial,sans-serif;
  color: #333;
  background-repeat: no-repeat;
  padding: 0 4px;
}

.x-btn-default-small-icon button,.x-btn-default-small-icon a,.x-btn-default-small-icon .x-btn-inner,.x-btn-default-small-noicon button,.x-btn-default-small-noicon a,.x-btn-default-small-noicon .x-btn-inner {
  height: 16px;
  line-height: 16px;
}

.x-btn-default-small-icon button,.x-btn-default-small-icon a {
  padding: 0;
}

.x-btn-default-small-icon .x-btn-inner {
  width: 16px;
  padding: 0;
}

.x-btn-default-small-icon .x-btn-icon {
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.x-btn-default-small-icon-text-left button,.x-btn-default-small-icon-text-left a {
  height: 16px;
}

.x-btn-default-small-icon-text-left .x-btn-inner {
  height: 16px;
  line-height: 16px;
  padding-left: 20px;
}

.x-btn-default-small-icon-text-left .x-btn-icon {
  width: 16px;
  height: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto;
}

.x-ie6 .x-btn-default-small-icon-text-left .x-btn-icon,.x-quirks .x-btn-default-small-icon-text-left .x-btn-icon {
  height: 16px;
}

.x-btn-default-small-icon-text-right button,.x-btn-default-small-icon-text-right a {
  height: 16px;
}

.x-btn-default-small-icon-text-right .x-btn-inner {
  height: 16px;
  line-height: 16px;
  padding-right: 20px!important;
}

.x-btn-default-small-icon-text-right .x-btn-icon {
  width: 16px;
  height: auto;
  top: 0;
  left: auto;
  bottom: 0;
  right: 0;
}

.x-ie6 .x-btn-default-small-icon-text-right .x-btn-icon,.x-quirks .x-btn-default-small-icon-text-right .x-btn-icon {
  height: 16px;
}

.x-btn-default-small-icon-text-top .x-btn-inner {
  padding-top: 20px;
}

.x-btn-default-small-icon-text-top .x-btn-icon {
  width: auto;
  height: 16px;
  top: 0;
  left: 0;
  bottom: auto;
  right: 0;
}

.x-ie6 .x-btn-default-small-icon-text-top .x-btn-icon,.x-quirks .x-ie .x-btn-default-small-icon-text-top .x-btn-icon {
  width: 16px;
}

.x-btn-default-small-icon-text-bottom .x-btn-inner {
  padding-bottom: 20px;
}

.x-btn-default-small-icon-text-bottom .x-btn-icon {
  width: auto;
  height: 16px;
  top: auto;
  left: 0;
  bottom: 0;
  right: 0;
}

.x-ie6 .x-btn-default-small-icon-text-bottom .x-btn-icon,.x-quirks .x-ie .x-btn-default-small-icon-text-bottom .x-btn-icon {
  width: 16px;
}

.x-btn-default-small-over {
  border-color: #e4dad9;
  background-image: none;
  background-color: white;
  background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fff),color-stop(48%,#fcf7f7),color-stop(52%,#eae5e5),color-stop(100%,#efe8e8));
  background-image: -webkit-linear-gradient(top,#fff,#fcf7f7 48%,#eae5e5 52%,#efe8e8);
  background-image: -moz-linear-gradient(top,#fff,#fcf7f7 48%,#eae5e5 52%,#efe8e8);
  background-image: -o-linear-gradient(top,#fff,#fcf7f7 48%,#eae5e5 52%,#efe8e8);
  background-image: -ms-linear-gradient(top,#fff,#fcf7f7 48%,#eae5e5 52%,#efe8e8);
  background-image: linear-gradient(top,#fff,#fcf7f7 48%,#eae5e5 52%,#efe8e8);
}

.x-btn-default-small-focus {
  border-color: #e4dad9;
  background-image: none;
  background-color: white;
  background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fff),color-stop(48%,#fcf7f7),color-stop(52%,#eae5e5),color-stop(100%,#efe8e8));
  background-image: -webkit-linear-gradient(top,#fff,#fcf7f7 48%,#eae5e5 52%,#efe8e8);
  background-image: -moz-linear-gradient(top,#fff,#fcf7f7 48%,#eae5e5 52%,#efe8e8);
  background-image: -o-linear-gradient(top,#fff,#fcf7f7 48%,#eae5e5 52%,#efe8e8);
  background-image: -ms-linear-gradient(top,#fff,#fcf7f7 48%,#eae5e5 52%,#efe8e8);
  background-image: linear-gradient(top,#fff,#fcf7f7 48%,#eae5e5 52%,#efe8e8);
}

.x-btn-default-small-menu-active,.x-btn-default-small-pressed {
  border-color: #d5cfcf;
  background-image: none;
  background-color: #e0e0e0;
  background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#e0e0e0),color-stop(48%,#e5e5e5),color-stop(52%,#e4c3c5),color-stop(100%,#e7cbcc));
  background-image: -webkit-linear-gradient(top,#e0e0e0,#e5e5e5 48%,#e4c3c5 52%,#e7cbcc);
  background-image: -moz-linear-gradient(top,#e0e0e0,#e5e5e5 48%,#e4c3c5 52%,#e7cbcc);
  background-image: -o-linear-gradient(top,#e0e0e0,#e5e5e5 48%,#e4c3c5 52%,#e7cbcc);
  background-image: -ms-linear-gradient(top,#e0e0e0,#e5e5e5 48%,#e4c3c5 52%,#e7cbcc);
  background-image: linear-gradient(top,#e0e0e0,#e5e5e5 48%,#e4c3c5 52%,#e7cbcc);
}

.x-btn-default-small-disabled {
  border-color: #e9e9e9;
  background-image: none;
  background-color: white;
  background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fff),color-stop(48%,#f9f9f9),color-stop(52%,#e2e2e2),color-stop(100%,#e7e7e7));
  background-image: -webkit-linear-gradient(top,#fff,#f9f9f9 48%,#e2e2e2 52%,#e7e7e7);
  background-image: -moz-linear-gradient(top,#fff,#f9f9f9 48%,#e2e2e2 52%,#e7e7e7);
  background-image: -o-linear-gradient(top,#fff,#f9f9f9 48%,#e2e2e2 52%,#e7e7e7);
  background-image: -ms-linear-gradient(top,#fff,#f9f9f9 48%,#e2e2e2 52%,#e7e7e7);
  background-image: linear-gradient(top,#fff,#f9f9f9 48%,#e2e2e2 52%,#e7e7e7);
}

.x-btn-default-small-disabled .x-btn-inner {
  color: #333!important;
}

.x-ie .x-btn-default-small-disabled .x-btn-inner {
  color: #595959!important;
}

.x-ie6 .x-btn-default-small-disabled .x-btn-inner {
  color: #8c8c8c!important;
}

.x-nbr .x-btn-default-small-over .x-frame-tl,.x-nbr .x-btn-default-small-over .x-frame-bl,.x-nbr .x-btn-default-small-over .x-frame-tr,.x-nbr .x-btn-default-small-over .x-frame-br,.x-nbr .x-btn-default-small-over .x-frame-tc,.x-nbr .x-btn-default-small-over .x-frame-bc {
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-small-over-corners.gif');
}

.x-nbr .x-btn-default-small-over .x-frame-ml,.x-nbr .x-btn-default-small-over .x-frame-mr {
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-small-over-sides.gif');
}

.x-nbr .x-btn-default-small-over .x-frame-mc {
  background-color: white;
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-small-over-bg.gif');
}

.x-nbr .x-btn-default-small-focus .x-frame-tl,.x-nbr .x-btn-default-small-focus .x-frame-bl,.x-nbr .x-btn-default-small-focus .x-frame-tr,.x-nbr .x-btn-default-small-focus .x-frame-br,.x-nbr .x-btn-default-small-focus .x-frame-tc,.x-nbr .x-btn-default-small-focus .x-frame-bc {
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-small-focus-corners.gif');
}

.x-nbr .x-btn-default-small-focus .x-frame-ml,.x-nbr .x-btn-default-small-focus .x-frame-mr {
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-small-focus-sides.gif');
}

.x-nbr .x-btn-default-small-focus .x-frame-mc {
  background-color: white;
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-small-focus-bg.gif');
}

.x-nbr .x-btn-default-small-menu-active .x-frame-tl,.x-nbr .x-btn-default-small-menu-active .x-frame-bl,.x-nbr .x-btn-default-small-menu-active .x-frame-tr,.x-nbr .x-btn-default-small-menu-active .x-frame-br,.x-nbr .x-btn-default-small-menu-active .x-frame-tc,.x-nbr .x-btn-default-small-menu-active .x-frame-bc,.x-nbr .x-btn-default-small-pressed .x-frame-tl,.x-nbr .x-btn-default-small-pressed .x-frame-bl,.x-nbr .x-btn-default-small-pressed .x-frame-tr,.x-nbr .x-btn-default-small-pressed .x-frame-br,.x-nbr .x-btn-default-small-pressed .x-frame-tc,.x-nbr .x-btn-default-small-pressed .x-frame-bc {
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-small-pressed-corners.gif');
}

.x-nbr .x-btn-default-small-menu-active .x-frame-ml,.x-nbr .x-btn-default-small-menu-active .x-frame-mr,.x-nbr .x-btn-default-small-pressed .x-frame-ml,.x-nbr .x-btn-default-small-pressed .x-frame-mr {
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-small-pressed-sides.gif');
}

.x-nbr .x-btn-default-small-menu-active .x-frame-mc,.x-nbr .x-btn-default-small-pressed .x-frame-mc {
  background-color: #e0e0e0;
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-small-pressed-bg.gif');
}

.x-nbr .x-btn-default-small-disabled .x-frame-tl,.x-nbr .x-btn-default-small-disabled .x-frame-bl,.x-nbr .x-btn-default-small-disabled .x-frame-tr,.x-nbr .x-btn-default-small-disabled .x-frame-br,.x-nbr .x-btn-default-small-disabled .x-frame-tc,.x-nbr .x-btn-default-small-disabled .x-frame-bc {
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-small-disabled-corners.gif');
}

.x-nbr .x-btn-default-small-disabled .x-frame-ml,.x-nbr .x-btn-default-small-disabled .x-frame-mr {
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-small-disabled-sides.gif');
}

.x-nbr .x-btn-default-small-disabled .x-frame-mc {
  background-color: white;
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-small-disabled-bg.gif');
}

.x-nlg .x-btn-default-small {
  background-repeat: repeat-x;
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-small-bg.gif');
}

.x-nlg .x-btn-default-small-over {
  background-repeat: repeat-x;
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-small-over-bg.gif');
}

.x-nlg .x-btn-default-small-focus {
  background-repeat: repeat-x;
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-small-focus-bg.gif');
}

.x-nlg .x-btn-default-small-menu-active,.x-nlg .x-btn-default-small-pressed {
  background-repeat: repeat-x;
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-small-pressed-bg.gif');
}

.x-nlg .x-btn-default-small-disabled {
  background-repeat: repeat-x;
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-small-disabled-bg.gif');
}

.x-btn-default-medium {
  border-color: #d1d1d1;
}

.x-btn-default-medium {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 3px 3px 3px 3px;
  border-width: 1px;
  border-style: solid;
  background-image: none;
  background-color: white;
  background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fff),color-stop(48%,#f9f9f9),color-stop(52%,#e2e2e2),color-stop(100%,#e7e7e7));
  background-image: -webkit-linear-gradient(top,#fff,#f9f9f9 48%,#e2e2e2 52%,#e7e7e7);
  background-image: -moz-linear-gradient(top,#fff,#f9f9f9 48%,#e2e2e2 52%,#e7e7e7);
  background-image: -o-linear-gradient(top,#fff,#f9f9f9 48%,#e2e2e2 52%,#e7e7e7);
  background-image: -ms-linear-gradient(top,#fff,#f9f9f9 48%,#e2e2e2 52%,#e7e7e7);
  background-image: linear-gradient(top,#fff,#f9f9f9 48%,#e2e2e2 52%,#e7e7e7);
}

.x-nlg .x-btn-default-medium-mc {
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-medium-bg.gif');
  background-color: white;
}

.x-nbr .x-btn-default-medium {
  padding: 0!important;
  border-width: 0!important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background-color: transparent;
  background-position: 1100303px 1000303px;
}

.x-nbr .x-btn-default-medium-tl,.x-nbr .x-btn-default-medium-bl,.x-nbr .x-btn-default-medium-tr,.x-nbr .x-btn-default-medium-br,.x-nbr .x-btn-default-medium-tc,.x-nbr .x-btn-default-medium-bc,.x-nbr .x-btn-default-medium-ml,.x-nbr .x-btn-default-medium-mr {
  zoom: 1;
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-medium-corners.gif');
}

.x-nbr .x-btn-default-medium-ml,.x-nbr .x-btn-default-medium-mr {
  zoom: 1;
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-medium-sides.gif');
  background-position: 0 0;
}

.x-nbr .x-btn-default-medium-mc {
  padding: 1px 1px 1px 1px;
}

.x-strict .x-ie7 .x-btn-default-medium-tl,.x-strict .x-ie7 .x-btn-default-medium-bl {
  position: relative;
  right: 0;
}

.x-btn-default-medium .x-btn-inner {
  font-size: 11px;
  font-weight: normal;
  font-family: Helvetica Neue,Arial,sans-serif;
  color: #333;
  background-repeat: no-repeat;
  padding: 0 3px;
}

.x-btn-default-medium-icon button,.x-btn-default-medium-icon a,.x-btn-default-medium-icon .x-btn-inner,.x-btn-default-medium-noicon button,.x-btn-default-medium-noicon a,.x-btn-default-medium-noicon .x-btn-inner {
  height: 24px;
  line-height: 24px;
}

.x-btn-default-medium-icon button,.x-btn-default-medium-icon a {
  padding: 0;
}

.x-btn-default-medium-icon .x-btn-inner {
  width: 24px;
  padding: 0;
}

.x-btn-default-medium-icon .x-btn-icon {
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.x-btn-default-medium-icon-text-left button,.x-btn-default-medium-icon-text-left a {
  height: 24px;
}

.x-btn-default-medium-icon-text-left .x-btn-inner {
  height: 24px;
  line-height: 24px;
  padding-left: 28px;
}

.x-btn-default-medium-icon-text-left .x-btn-icon {
  width: 24px;
  height: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto;
}

.x-ie6 .x-btn-default-medium-icon-text-left .x-btn-icon,.x-quirks .x-btn-default-medium-icon-text-left .x-btn-icon {
  height: 24px;
}

.x-btn-default-medium-icon-text-right button,.x-btn-default-medium-icon-text-right a {
  height: 24px;
}

.x-btn-default-medium-icon-text-right .x-btn-inner {
  height: 24px;
  line-height: 24px;
  padding-right: 28px!important;
}

.x-btn-default-medium-icon-text-right .x-btn-icon {
  width: 24px;
  height: auto;
  top: 0;
  left: auto;
  bottom: 0;
  right: 0;
}

.x-ie6 .x-btn-default-medium-icon-text-right .x-btn-icon,.x-quirks .x-btn-default-medium-icon-text-right .x-btn-icon {
  height: 24px;
}

.x-btn-default-medium-icon-text-top .x-btn-inner {
  padding-top: 28px;
}

.x-btn-default-medium-icon-text-top .x-btn-icon {
  width: auto;
  height: 24px;
  top: 0;
  left: 0;
  bottom: auto;
  right: 0;
}

.x-ie6 .x-btn-default-medium-icon-text-top .x-btn-icon,.x-quirks .x-ie .x-btn-default-medium-icon-text-top .x-btn-icon {
  width: 24px;
}

.x-btn-default-medium-icon-text-bottom .x-btn-inner {
  padding-bottom: 28px;
}

.x-btn-default-medium-icon-text-bottom .x-btn-icon {
  width: auto;
  height: 24px;
  top: auto;
  left: 0;
  bottom: 0;
  right: 0;
}

.x-ie6 .x-btn-default-medium-icon-text-bottom .x-btn-icon,.x-quirks .x-ie .x-btn-default-medium-icon-text-bottom .x-btn-icon {
  width: 24px;
}

.x-btn-default-medium-over {
  border-color: #e4dad9;
  background-image: none;
  background-color: white;
  background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fff),color-stop(48%,#fcf7f7),color-stop(52%,#eae5e5),color-stop(100%,#efe8e8));
  background-image: -webkit-linear-gradient(top,#fff,#fcf7f7 48%,#eae5e5 52%,#efe8e8);
  background-image: -moz-linear-gradient(top,#fff,#fcf7f7 48%,#eae5e5 52%,#efe8e8);
  background-image: -o-linear-gradient(top,#fff,#fcf7f7 48%,#eae5e5 52%,#efe8e8);
  background-image: -ms-linear-gradient(top,#fff,#fcf7f7 48%,#eae5e5 52%,#efe8e8);
  background-image: linear-gradient(top,#fff,#fcf7f7 48%,#eae5e5 52%,#efe8e8);
}

.x-btn-default-medium-focus {
  border-color: #e4dad9;
  background-image: none;
  background-color: white;
  background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fff),color-stop(48%,#fcf7f7),color-stop(52%,#eae5e5),color-stop(100%,#efe8e8));
  background-image: -webkit-linear-gradient(top,#fff,#fcf7f7 48%,#eae5e5 52%,#efe8e8);
  background-image: -moz-linear-gradient(top,#fff,#fcf7f7 48%,#eae5e5 52%,#efe8e8);
  background-image: -o-linear-gradient(top,#fff,#fcf7f7 48%,#eae5e5 52%,#efe8e8);
  background-image: -ms-linear-gradient(top,#fff,#fcf7f7 48%,#eae5e5 52%,#efe8e8);
  background-image: linear-gradient(top,#fff,#fcf7f7 48%,#eae5e5 52%,#efe8e8);
}

.x-btn-default-medium-menu-active,.x-btn-default-medium-pressed {
  border-color: #d5cfcf;
  background-image: none;
  background-color: #e0e0e0;
  background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#e0e0e0),color-stop(48%,#e5e5e5),color-stop(52%,#e4c3c5),color-stop(100%,#e7cbcc));
  background-image: -webkit-linear-gradient(top,#e0e0e0,#e5e5e5 48%,#e4c3c5 52%,#e7cbcc);
  background-image: -moz-linear-gradient(top,#e0e0e0,#e5e5e5 48%,#e4c3c5 52%,#e7cbcc);
  background-image: -o-linear-gradient(top,#e0e0e0,#e5e5e5 48%,#e4c3c5 52%,#e7cbcc);
  background-image: -ms-linear-gradient(top,#e0e0e0,#e5e5e5 48%,#e4c3c5 52%,#e7cbcc);
  background-image: linear-gradient(top,#e0e0e0,#e5e5e5 48%,#e4c3c5 52%,#e7cbcc);
}

.x-btn-default-medium-disabled {
  border-color: #e9e9e9;
  background-image: none;
  background-color: white;
  background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fff),color-stop(48%,#f9f9f9),color-stop(52%,#e2e2e2),color-stop(100%,#e7e7e7));
  background-image: -webkit-linear-gradient(top,#fff,#f9f9f9 48%,#e2e2e2 52%,#e7e7e7);
  background-image: -moz-linear-gradient(top,#fff,#f9f9f9 48%,#e2e2e2 52%,#e7e7e7);
  background-image: -o-linear-gradient(top,#fff,#f9f9f9 48%,#e2e2e2 52%,#e7e7e7);
  background-image: -ms-linear-gradient(top,#fff,#f9f9f9 48%,#e2e2e2 52%,#e7e7e7);
  background-image: linear-gradient(top,#fff,#f9f9f9 48%,#e2e2e2 52%,#e7e7e7);
}

.x-btn-default-medium-disabled .x-btn-inner {
  color: #333!important;
}

.x-ie .x-btn-default-medium-disabled .x-btn-inner {
  color: #595959!important;
}

.x-ie6 .x-btn-default-medium-disabled .x-btn-inner {
  color: #8c8c8c!important;
}

.x-nbr .x-btn-default-medium-over .x-frame-tl,.x-nbr .x-btn-default-medium-over .x-frame-bl,.x-nbr .x-btn-default-medium-over .x-frame-tr,.x-nbr .x-btn-default-medium-over .x-frame-br,.x-nbr .x-btn-default-medium-over .x-frame-tc,.x-nbr .x-btn-default-medium-over .x-frame-bc {
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-medium-over-corners.gif');
}

.x-nbr .x-btn-default-medium-over .x-frame-ml,.x-nbr .x-btn-default-medium-over .x-frame-mr {
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-medium-over-sides.gif');
}

.x-nbr .x-btn-default-medium-over .x-frame-mc {
  background-color: white;
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-medium-over-bg.gif');
}

.x-nbr .x-btn-default-medium-focus .x-frame-tl,.x-nbr .x-btn-default-medium-focus .x-frame-bl,.x-nbr .x-btn-default-medium-focus .x-frame-tr,.x-nbr .x-btn-default-medium-focus .x-frame-br,.x-nbr .x-btn-default-medium-focus .x-frame-tc,.x-nbr .x-btn-default-medium-focus .x-frame-bc {
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-medium-focus-corners.gif');
}

.x-nbr .x-btn-default-medium-focus .x-frame-ml,.x-nbr .x-btn-default-medium-focus .x-frame-mr {
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-medium-focus-sides.gif');
}

.x-nbr .x-btn-default-medium-focus .x-frame-mc {
  background-color: white;
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-medium-focus-bg.gif');
}

.x-nbr .x-btn-default-medium-menu-active .x-frame-tl,.x-nbr .x-btn-default-medium-menu-active .x-frame-bl,.x-nbr .x-btn-default-medium-menu-active .x-frame-tr,.x-nbr .x-btn-default-medium-menu-active .x-frame-br,.x-nbr .x-btn-default-medium-menu-active .x-frame-tc,.x-nbr .x-btn-default-medium-menu-active .x-frame-bc,.x-nbr .x-btn-default-medium-pressed .x-frame-tl,.x-nbr .x-btn-default-medium-pressed .x-frame-bl,.x-nbr .x-btn-default-medium-pressed .x-frame-tr,.x-nbr .x-btn-default-medium-pressed .x-frame-br,.x-nbr .x-btn-default-medium-pressed .x-frame-tc,.x-nbr .x-btn-default-medium-pressed .x-frame-bc {
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-medium-pressed-corners.gif');
}

.x-nbr .x-btn-default-medium-menu-active .x-frame-ml,.x-nbr .x-btn-default-medium-menu-active .x-frame-mr,.x-nbr .x-btn-default-medium-pressed .x-frame-ml,.x-nbr .x-btn-default-medium-pressed .x-frame-mr {
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-medium-pressed-sides.gif');
}

.x-nbr .x-btn-default-medium-menu-active .x-frame-mc,.x-nbr .x-btn-default-medium-pressed .x-frame-mc {
  background-color: #e0e0e0;
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-medium-pressed-bg.gif');
}

.x-nbr .x-btn-default-medium-disabled .x-frame-tl,.x-nbr .x-btn-default-medium-disabled .x-frame-bl,.x-nbr .x-btn-default-medium-disabled .x-frame-tr,.x-nbr .x-btn-default-medium-disabled .x-frame-br,.x-nbr .x-btn-default-medium-disabled .x-frame-tc,.x-nbr .x-btn-default-medium-disabled .x-frame-bc {
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-medium-disabled-corners.gif');
}

.x-nbr .x-btn-default-medium-disabled .x-frame-ml,.x-nbr .x-btn-default-medium-disabled .x-frame-mr {
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-medium-disabled-sides.gif');
}

.x-nbr .x-btn-default-medium-disabled .x-frame-mc {
  background-color: white;
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-medium-disabled-bg.gif');
}

.x-nlg .x-btn-default-medium {
  background-repeat: repeat-x;
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-medium-bg.gif');
}

.x-nlg .x-btn-default-medium-over {
  background-repeat: repeat-x;
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-medium-over-bg.gif');
}

.x-nlg .x-btn-default-medium-focus {
  background-repeat: repeat-x;
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-medium-focus-bg.gif');
}

.x-nlg .x-btn-default-medium-menu-active,.x-nlg .x-btn-default-medium-pressed {
  background-repeat: repeat-x;
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-medium-pressed-bg.gif');
}

.x-nlg .x-btn-default-medium-disabled {
  background-repeat: repeat-x;
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-medium-disabled-bg.gif');
}

.x-btn-default-large {
  border-color: #d1d1d1;
}

.x-btn-default-large {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 3px 3px 3px 3px;
  border-width: 1px;
  border-style: solid;
  background-image: none;
  background-color: white;
  background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fff),color-stop(48%,#f9f9f9),color-stop(52%,#e2e2e2),color-stop(100%,#e7e7e7));
  background-image: -webkit-linear-gradient(top,#fff,#f9f9f9 48%,#e2e2e2 52%,#e7e7e7);
  background-image: -moz-linear-gradient(top,#fff,#f9f9f9 48%,#e2e2e2 52%,#e7e7e7);
  background-image: -o-linear-gradient(top,#fff,#f9f9f9 48%,#e2e2e2 52%,#e7e7e7);
  background-image: -ms-linear-gradient(top,#fff,#f9f9f9 48%,#e2e2e2 52%,#e7e7e7);
  background-image: linear-gradient(top,#fff,#f9f9f9 48%,#e2e2e2 52%,#e7e7e7);
}

.x-nlg .x-btn-default-large-mc {
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-large-bg.gif');
  background-color: white;
}

.x-nbr .x-btn-default-large {
  padding: 0!important;
  border-width: 0!important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background-color: transparent;
  background-position: 1100303px 1000303px;
}

.x-nbr .x-btn-default-large-tl,.x-nbr .x-btn-default-large-bl,.x-nbr .x-btn-default-large-tr,.x-nbr .x-btn-default-large-br,.x-nbr .x-btn-default-large-tc,.x-nbr .x-btn-default-large-bc,.x-nbr .x-btn-default-large-ml,.x-nbr .x-btn-default-large-mr {
  zoom: 1;
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-large-corners.gif');
}

.x-nbr .x-btn-default-large-ml,.x-nbr .x-btn-default-large-mr {
  zoom: 1;
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-large-sides.gif');
  background-position: 0 0;
}

.x-nbr .x-btn-default-large-mc {
  padding: 1px 1px 1px 1px;
}

.x-strict .x-ie7 .x-btn-default-large-tl,.x-strict .x-ie7 .x-btn-default-large-bl {
  position: relative;
  right: 0;
}

.x-btn-default-large .x-btn-inner {
  font-size: 11px;
  font-weight: normal;
  font-family: Helvetica Neue,Arial,sans-serif;
  color: #333;
  background-repeat: no-repeat;
  padding: 0 3px;
}

.x-btn-default-large-icon button,.x-btn-default-large-icon a,.x-btn-default-large-icon .x-btn-inner,.x-btn-default-large-noicon button,.x-btn-default-large-noicon a,.x-btn-default-large-noicon .x-btn-inner {
  height: 32px;
  line-height: 32px;
}

.x-btn-default-large-icon button,.x-btn-default-large-icon a {
  padding: 0;
}

.x-btn-default-large-icon .x-btn-inner {
  width: 32px;
  padding: 0;
}

.x-btn-default-large-icon .x-btn-icon {
  width: 32px;
  height: 32px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.x-btn-default-large-icon-text-left button,.x-btn-default-large-icon-text-left a {
  height: 32px;
}

.x-btn-default-large-icon-text-left .x-btn-inner {
  height: 32px;
  line-height: 32px;
  padding-left: 36px;
}

.x-btn-default-large-icon-text-left .x-btn-icon {
  width: 32px;
  height: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto;
}

.x-ie6 .x-btn-default-large-icon-text-left .x-btn-icon,.x-quirks .x-btn-default-large-icon-text-left .x-btn-icon {
  height: 32px;
}

.x-btn-default-large-icon-text-right button,.x-btn-default-large-icon-text-right a {
  height: 32px;
}

.x-btn-default-large-icon-text-right .x-btn-inner {
  height: 32px;
  line-height: 32px;
  padding-right: 36px!important;
}

.x-btn-default-large-icon-text-right .x-btn-icon {
  width: 32px;
  height: auto;
  top: 0;
  left: auto;
  bottom: 0;
  right: 0;
}

.x-ie6 .x-btn-default-large-icon-text-right .x-btn-icon,.x-quirks .x-btn-default-large-icon-text-right .x-btn-icon {
  height: 32px;
}

.x-btn-default-large-icon-text-top .x-btn-inner {
  padding-top: 36px;
}

.x-btn-default-large-icon-text-top .x-btn-icon {
  width: auto;
  height: 32px;
  top: 0;
  left: 0;
  bottom: auto;
  right: 0;
}

.x-ie6 .x-btn-default-large-icon-text-top .x-btn-icon,.x-quirks .x-ie .x-btn-default-large-icon-text-top .x-btn-icon {
  width: 32px;
}

.x-btn-default-large-icon-text-bottom .x-btn-inner {
  padding-bottom: 36px;
}

.x-btn-default-large-icon-text-bottom .x-btn-icon {
  width: auto;
  height: 32px;
  top: auto;
  left: 0;
  bottom: 0;
  right: 0;
}

.x-ie6 .x-btn-default-large-icon-text-bottom .x-btn-icon,.x-quirks .x-ie .x-btn-default-large-icon-text-bottom .x-btn-icon {
  width: 32px;
}

.x-btn-default-large-over {
  border-color: #e4dad9;
  background-image: none;
  background-color: white;
  background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fff),color-stop(48%,#fcf7f7),color-stop(52%,#eae5e5),color-stop(100%,#efe8e8));
  background-image: -webkit-linear-gradient(top,#fff,#fcf7f7 48%,#eae5e5 52%,#efe8e8);
  background-image: -moz-linear-gradient(top,#fff,#fcf7f7 48%,#eae5e5 52%,#efe8e8);
  background-image: -o-linear-gradient(top,#fff,#fcf7f7 48%,#eae5e5 52%,#efe8e8);
  background-image: -ms-linear-gradient(top,#fff,#fcf7f7 48%,#eae5e5 52%,#efe8e8);
  background-image: linear-gradient(top,#fff,#fcf7f7 48%,#eae5e5 52%,#efe8e8);
}

.x-btn-default-large-focus {
  border-color: #e4dad9;
  background-image: none;
  background-color: white;
  background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fff),color-stop(48%,#fcf7f7),color-stop(52%,#eae5e5),color-stop(100%,#efe8e8));
  background-image: -webkit-linear-gradient(top,#fff,#fcf7f7 48%,#eae5e5 52%,#efe8e8);
  background-image: -moz-linear-gradient(top,#fff,#fcf7f7 48%,#eae5e5 52%,#efe8e8);
  background-image: -o-linear-gradient(top,#fff,#fcf7f7 48%,#eae5e5 52%,#efe8e8);
  background-image: -ms-linear-gradient(top,#fff,#fcf7f7 48%,#eae5e5 52%,#efe8e8);
  background-image: linear-gradient(top,#fff,#fcf7f7 48%,#eae5e5 52%,#efe8e8);
}

.x-btn-default-large-menu-active,.x-btn-default-large-pressed {
  border-color: #d5cfcf;
  background-image: none;
  background-color: #e0e0e0;
  background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#e0e0e0),color-stop(48%,#e5e5e5),color-stop(52%,#e4c3c5),color-stop(100%,#e7cbcc));
  background-image: -webkit-linear-gradient(top,#e0e0e0,#e5e5e5 48%,#e4c3c5 52%,#e7cbcc);
  background-image: -moz-linear-gradient(top,#e0e0e0,#e5e5e5 48%,#e4c3c5 52%,#e7cbcc);
  background-image: -o-linear-gradient(top,#e0e0e0,#e5e5e5 48%,#e4c3c5 52%,#e7cbcc);
  background-image: -ms-linear-gradient(top,#e0e0e0,#e5e5e5 48%,#e4c3c5 52%,#e7cbcc);
  background-image: linear-gradient(top,#e0e0e0,#e5e5e5 48%,#e4c3c5 52%,#e7cbcc);
}

.x-btn-default-large-disabled {
  border-color: #e9e9e9;
  background-image: none;
  background-color: white;
  background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fff),color-stop(48%,#f9f9f9),color-stop(52%,#e2e2e2),color-stop(100%,#e7e7e7));
  background-image: -webkit-linear-gradient(top,#fff,#f9f9f9 48%,#e2e2e2 52%,#e7e7e7);
  background-image: -moz-linear-gradient(top,#fff,#f9f9f9 48%,#e2e2e2 52%,#e7e7e7);
  background-image: -o-linear-gradient(top,#fff,#f9f9f9 48%,#e2e2e2 52%,#e7e7e7);
  background-image: -ms-linear-gradient(top,#fff,#f9f9f9 48%,#e2e2e2 52%,#e7e7e7);
  background-image: linear-gradient(top,#fff,#f9f9f9 48%,#e2e2e2 52%,#e7e7e7);
}

.x-btn-default-large-disabled .x-btn-inner {
  color: #333!important;
}

.x-ie .x-btn-default-large-disabled .x-btn-inner {
  color: #595959!important;
}

.x-ie6 .x-btn-default-large-disabled .x-btn-inner {
  color: #8c8c8c!important;
}

.x-nbr .x-btn-default-large-over .x-frame-tl,.x-nbr .x-btn-default-large-over .x-frame-bl,.x-nbr .x-btn-default-large-over .x-frame-tr,.x-nbr .x-btn-default-large-over .x-frame-br,.x-nbr .x-btn-default-large-over .x-frame-tc,.x-nbr .x-btn-default-large-over .x-frame-bc {
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-large-over-corners.gif');
}

.x-nbr .x-btn-default-large-over .x-frame-ml,.x-nbr .x-btn-default-large-over .x-frame-mr {
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-large-over-sides.gif');
}

.x-nbr .x-btn-default-large-over .x-frame-mc {
  background-color: white;
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-large-over-bg.gif');
}

.x-nbr .x-btn-default-large-focus .x-frame-tl,.x-nbr .x-btn-default-large-focus .x-frame-bl,.x-nbr .x-btn-default-large-focus .x-frame-tr,.x-nbr .x-btn-default-large-focus .x-frame-br,.x-nbr .x-btn-default-large-focus .x-frame-tc,.x-nbr .x-btn-default-large-focus .x-frame-bc {
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-large-focus-corners.gif');
}

.x-nbr .x-btn-default-large-focus .x-frame-ml,.x-nbr .x-btn-default-large-focus .x-frame-mr {
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-large-focus-sides.gif');
}

.x-nbr .x-btn-default-large-focus .x-frame-mc {
  background-color: white;
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-large-focus-bg.gif');
}

.x-nbr .x-btn-default-large-menu-active .x-frame-tl,.x-nbr .x-btn-default-large-menu-active .x-frame-bl,.x-nbr .x-btn-default-large-menu-active .x-frame-tr,.x-nbr .x-btn-default-large-menu-active .x-frame-br,.x-nbr .x-btn-default-large-menu-active .x-frame-tc,.x-nbr .x-btn-default-large-menu-active .x-frame-bc,.x-nbr .x-btn-default-large-pressed .x-frame-tl,.x-nbr .x-btn-default-large-pressed .x-frame-bl,.x-nbr .x-btn-default-large-pressed .x-frame-tr,.x-nbr .x-btn-default-large-pressed .x-frame-br,.x-nbr .x-btn-default-large-pressed .x-frame-tc,.x-nbr .x-btn-default-large-pressed .x-frame-bc {
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-large-pressed-corners.gif');
}

.x-nbr .x-btn-default-large-menu-active .x-frame-ml,.x-nbr .x-btn-default-large-menu-active .x-frame-mr,.x-nbr .x-btn-default-large-pressed .x-frame-ml,.x-nbr .x-btn-default-large-pressed .x-frame-mr {
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-large-pressed-sides.gif');
}

.x-nbr .x-btn-default-large-menu-active .x-frame-mc,.x-nbr .x-btn-default-large-pressed .x-frame-mc {
  background-color: #e0e0e0;
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-large-pressed-bg.gif');
}

.x-nbr .x-btn-default-large-disabled .x-frame-tl,.x-nbr .x-btn-default-large-disabled .x-frame-bl,.x-nbr .x-btn-default-large-disabled .x-frame-tr,.x-nbr .x-btn-default-large-disabled .x-frame-br,.x-nbr .x-btn-default-large-disabled .x-frame-tc,.x-nbr .x-btn-default-large-disabled .x-frame-bc {
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-large-disabled-corners.gif');
}

.x-nbr .x-btn-default-large-disabled .x-frame-ml,.x-nbr .x-btn-default-large-disabled .x-frame-mr {
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-large-disabled-sides.gif');
}

.x-nbr .x-btn-default-large-disabled .x-frame-mc {
  background-color: white;
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-large-disabled-bg.gif');
}

.x-nlg .x-btn-default-large {
  background-repeat: repeat-x;
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-large-bg.gif');
}

.x-nlg .x-btn-default-large-over {
  background-repeat: repeat-x;
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-large-over-bg.gif');
}

.x-nlg .x-btn-default-large-focus {
  background-repeat: repeat-x;
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-large-focus-bg.gif');
}

.x-nlg .x-btn-default-large-menu-active,.x-nlg .x-btn-default-large-pressed {
  background-repeat: repeat-x;
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-large-pressed-bg.gif');
}

.x-nlg .x-btn-default-large-disabled {
  background-repeat: repeat-x;
  background-image: url('../../extjs/resources/themes/images/default/btn/btn-default-large-disabled-bg.gif');
}

.x-btn-default-toolbar-small {
  border-color: transparent;
}

.x-btn-default-toolbar-small {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 2px 2px 2px 2px;
  border-width: 1px;
  border-style: solid;
  background-color: transparent;
}

.x-nlg .x-btn-default-toolbar-small-mc {
  background-color: transparent;
}

.x-nbr .x-btn-default-toolbar-small {
  padding: 0!important;
  border-width: 0!important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background-color: transparent;
  background-position: 1100303px 1000303px;
}

.x-nbr .x-btn-default-toolbar-small-tl,.x-nbr .x-btn-default-toolbar-small-bl,.x-nbr .x-btn-default-toolbar-small-tr,.x-nbr .x-btn-default-toolbar-small-br,.x-nbr .x-btn-default-toolbar-small-tc,.x-nbr .x-btn-default-toolbar-small-bc,.x-nbr .x-btn-default-toolbar-small-ml,.x-nbr .x-btn-default-toolbar-small-mr {
  zoom: 1;
}

.x-nbr .x-btn-default-toolbar-small-ml,.x-nbr .x-btn-default-toolbar-small-mr {
  zoom: 1;
}

.x-nbr .x-btn-default-toolbar-small-mc {
  padding: 0;
}

.x-strict .x-ie7 .x-btn-default-toolbar-small-tl,.x-strict .x-ie7 .x-btn-default-toolbar-small-bl {
  position: relative;
  right: 0;
}

.x-btn-default-toolbar-small .x-btn-inner {
  font-size: 11px;
  font-weight: normal;
  font-family: Helvetica Neue,Arial,sans-serif;
  color: #333;
  background-repeat: no-repeat;
  padding: 0 4px;
}

.x-btn-default-toolbar-small-icon button,.x-btn-default-too

*/